@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Libre+Barcode+39&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary-bg: #231f42;
	--primary-pink: #f56b9a;
	--primary-turquoise: #37aeab;
	--primary-white: #ffff;
}
/* AI hjälp med snyggare scrollbar */
body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-track {
	background: none;
}
body::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	border: 3px solid transparent;
	background-clip: content-box;
}

body,
html {
	height: 100%;
	background-color: var(--primary-bg) !important;
}
.page {
	margin: 0 auto;
	padding: 0rem 2rem 0 2rem;
	min-width: 350px;
	max-width: 500px;
	background-color: var(--primary-bg);
}

h1,
h3 {
	font-family: 'Sansita', sans-serif;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 3%;
	color: var(--primary-pink);
	text-align: center;
}

p,
h4 {
	font-family: 'Fira Sans', sans-serif !important;
	color: var(--primary-white);
}

.page-msg {
	padding-top: 10rem;
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.5rem;
	line-height: 1.8rem;
	color: var(--primary-white);
	text-align: center;
}

.bottom-distance {
	height: 10rem !important;
}

@media (max-width: 400px) {
	body .header {
		.header__title {
			padding: 1rem;
		}
		.header__sub-title {
			padding: 0 2rem 1rem 2rem;
		}
	}
	.searchbar {
		margin-bottom: 1rem !important;
	}
	.price-selector {
		.price-selector__total {
			font-family: 'Fira Sans', sans-serif;
			font-size: 2rem;
			color: var(--primary-white);
			letter-spacing: 1px;
			text-shadow: 1.2px 1.2px 0 var(--primary-pink);
			font-weight: 700;
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
		}
		.price-selector__controls {
			font-size: 2rem;
		}
		.price-selector__name {
			font-size: 1.5rem;
			line-height: 1.5rem;
			padding: 0.4rem 1rem 0 1rem;
		}
		.price-selector__date {
			font-size: 1rem;
			text-align: left;
			padding: 0rem 1rem 0.4rem 1rem;
		}
		.price-selector__btn {
			font-size: 4rem;
			line-height: 3.2rem;
			cursor: pointer;
		}
	}
	.order-page__wrapper {
		gap: 1rem !important;
		.order__subtitle {
			font-size: 1.2rem;
		}
		.order__total {
			font-size: 2rem;
			margin-top: 0rem;
			margin-bottom: 0rem;
		}
		.order__summary {
			text-align: center;
			justify-self: flex-end;
		}
	}
	.single-event-page__wrapper {
		gap: 1rem !important;
	}

	.button {
		padding: 1rem;
	}
}
